//! **************************************************************************
// Written by: Map P.40xd on Mon Jul 27 09:40:40 2015
//! **************************************************************************

SCHEMATIC START;
NET "u1/IBUFG" BEL "u1/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

